In [2]:
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/ferencipeter/Ironhack Data Analytics.json"

from google.cloud import bigquery

client = bigquery.Client()

In [4]:
query = '''
SELECT 
  auth.au_id,
  auth.au_lname,
  auth.au_fname,
  tit.title,
  pubs.pub_name
FROM 
  `ironhack-data-analytics.publications.authors` AS auth
JOIN
  `ironhack-data-analytics.publications.titleauthor` AS titau
  ON titau.au_id = auth.au_id
JOIN
  `ironhack-data-analytics.publications.titles` AS tit
  ON tit.title_id = titau.title_id
JOIN
  `ironhack-data-analytics.publications.publishers` AS pubs
  ON tit.pub_id = pubs.pub_id
LIMIT 1000
'''

query_job = client.query(query)

df=query_job.to_dataframe()
df.head(30)

,au_id,au_lname,au_fname,title,pub_name
0,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
1,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
5,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
6,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
7,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
8,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
9,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
10,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
11,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
12,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
13,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
14,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
15,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
16,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
17,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
18,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
19,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
20,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
21,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
22,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
23,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
24,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley

In [5]:
query2 = '''
SELECT 
  auth.au_id,
  auth.au_lname,
  auth.au_fname,
  pubs.pub_name,
  COUNT(tit.title) AS title_count
FROM 
  `ironhack-data-analytics.publications.authors` AS auth
JOIN
  `ironhack-data-analytics.publications.titleauthor` AS titau
  ON titau.au_id = auth.au_id
JOIN
  `ironhack-data-analytics.publications.titles` AS tit
  ON tit.title_id = titau.title_id
JOIN
  `ironhack-data-analytics.publications.publishers` AS pubs
  ON tit.pub_id = pubs.pub_id
GROUP BY
  1,2,3,4
ORDER BY
  title_count DESC
LIMIT 1000
'''

query_job = client.query(query2)

df=query_job.to_dataframe()
df.head(30)

          au_id        au_lname  au_fname              pub_name  title_count
0   998-72-3567          Ringer    Albert        New Moon Books            2
1   712-45-1867    del Castillo     Innes      Binnet & Hardley            1
2   899-46-2035          Ringer      Anne        New Moon Books            1
3   724-80-9391      MacFeather   Stearns      Binnet & Hardley            1
4   238-95-7766          Carson    Cheryl  Algodata Infosystems            1
5   724-80-9391      MacFeather   Stearns  Algodata Infosystems            1
6   472-27-2349      Gringlesby      Burt      Binnet & Hardley            1
7   486-29-1786        Locksley  Charlene        New Moon Books            1
8   756-30-7391          Karsen     Livia      Binnet & Hardley            1
9   722-51-5454        DeFrance    Michel      Binnet & Hardley            1
10  409-56-7008          Bennet   Abraham  Algodata Infosystems            1
11  213-46-8915           Green  Marjorie  Algodata Infosystems            1
12  807-91-6654        Panteley    Sylvia      Binnet & Hardley            1
13  648-92-1872  Blotchet-Halls  Reginald      Binnet & Hardley            1
14  213-46-8915           Green  Marjorie        New Moon Books            1
15  267-41-2394         O'Leary   Michael  Algodata Infosystems            1
16  427-17-2319            Dull       Ann  Algodata Infosystems            1
17  486-29-1786        Locksley  Charlene  Algodata Infosystems            1
18  672-71-3249        Yokomoto     Akiko      Binnet & Hardley            1
19  846-92-7186          Hunter    Sheryl  Algodata Infosystems            1
20  172-32-1176           White   Johnson        New Moon Books            1
21  899-46-2035          Ringer      Anne      Binnet & Hardley            1
22  274-80-9391        Straight      Dean  Algodata Infosystems            1
23  267-41-2394         O'Leary   Michael      Binnet & Hardley            1

In [6]:
query3 = '''
SELECT 
  auth.au_id,
  auth.au_lname,
  auth.au_fname,
  SUM(sale.qty) AS titles_sold
FROM 
  `ironhack-data-analytics.publications.authors` AS auth
JOIN
  `ironhack-data-analytics.publications.titleauthor` AS titau
  ON titau.au_id = auth.au_id
JOIN
  `ironhack-data-analytics.publications.titles` AS tit
  ON tit.title_id = titau.title_id
JOIN
  `ironhack-data-analytics.publications.publishers` AS pubs
  ON tit.pub_id = pubs.pub_id
JOIN
  `ironhack-data-analytics.publications.sales` AS sale
  ON tit.title_id = sale.title_id
GROUP BY
  1,2,3
ORDER BY
  titles_sold DESC
LIMIT 3
'''

query_job = client.query(query3)

df=query_job.to_dataframe()
df.head(30)

         au_id au_lname  au_fname titles_sold
0  899-46-2035   Ringer      Anne         148
1  998-72-3567   Ringer    Albert         133
2  213-46-8915    Green  Marjorie          50

In [7]:
query4 = '''
SELECT 
  auth.au_id,
  auth.au_lname,
  auth.au_fname,
  SUM(sale.qty) AS titles_sold
FROM 
  `ironhack-data-analytics.publications.authors` AS auth
LEFT JOIN
  `ironhack-data-analytics.publications.titleauthor` AS titau
  ON auth.au_id = titau.au_id
LEFT JOIN
  `ironhack-data-analytics.publications.titles` AS tit
  ON tit.title_id = titau.title_id
LEFT JOIN
  `ironhack-data-analytics.publications.publishers` AS pubs
  ON tit.pub_id = pubs.pub_id
LEFT JOIN
  `ironhack-data-analytics.publications.sales` AS sale
  ON tit.title_id = sale.title_id
GROUP BY
  1,2,3
ORDER BY
  titles_sold DESC
LIMIT 100
'''

query_job = client.query(query4)

df=query_job.to_dataframe()
df.head(30)

          au_id        au_lname     au_fname titles_sold
0   899-46-2035          Ringer         Anne         148
1   998-72-3567          Ringer       Albert         133
2   213-46-8915           Green     Marjorie          50
3   427-17-2319            Dull          Ann          50
4   846-92-7186          Hunter       Sheryl          50
5   724-80-9391      MacFeather      Stearns          45
6   267-41-2394         O'Leary      Michael          45
7   807-91-6654        Panteley       Sylvia          40
8   722-51-5454        DeFrance       Michel          40
9   238-95-7766          Carson       Cheryl          30
10  486-29-1786        Locksley     Charlene          25
11  756-30-7391          Karsen        Livia          20
12  472-27-2349      Gringlesby         Burt          20
13  648-92-1872  Blotchet-Halls     Reginald          20
14  672-71-3249        Yokomoto        Akiko          20
15  274-80-9391        Straight         Dean          15
16  409-56-7008          Bennet      Abraham          15
17  172-32-1176           White      Johnson          15
18  712-45-1867    del Castillo        Innes          10
19  893-72-1158        McBadden      Heather        None
20  341-22-1782           Smith      Meander        None
21  527-72-3246          Greene  Morningstar        None
22  724-08-9931        Stringer         Dirk        None